
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LMAO</title>

    <style>
        #meinTeil {
            background-image: url("/Content/Backgrounds/LMAO.png");
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div id = "meinTeil"> 
    </div>
</body>
</html>
