
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLay0ut</title>
</head>
<body>
    <h2>Admin aly</h2>
    @RenderBody()
</body>
</html>
